<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create Ticket Component</div>

                    <div class="card-body">
                          <!-- @submit handles any form of submission. -->
                        <!-- .prevent keeps the event from bubbling around and doing anything else. -->
                        <form  @submit.prevent="handleSubmit">
                            <label>
                            Name:
                            <input type="text" v-model="name"/>
                            </label>
                            <label>
                            Number:
                            <input type="text" v-model="number"/>
                            </label>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    data() {
        return {
            name: '',
            number: ''
        }
    },

    methods: {
        handleSubmit() {
            axios.post('/ticket' , {  
                name: this.name,
                number: this.number
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                
            });  
        }
    }
    }
</script>
