<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Multiplication Component</div>

                    <div class="card-body">
                        <!-- @submit handles any form of submission. -->
                        <!-- .prevent keeps the event from bubbling around and doing anything else. -->
                        <form  @submit.prevent="handleSubmit">
                            <label>
                            {{oldnumber}} * 
                            <input type="text" v-model="number"/>
                            </label>
                            <button type="submit">Multiply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    data() {
        return {
            operation:'multiplication',
            number: '',
            oldnumber: '',
            result: null,
            name: this.$route.query.name
        }
    },
    mounted() {

        axios.get('/getticket/'+this.name)
        .then(response => {
            this.oldnumber = response.data.number;
            })
        .catch(function (error) {
            console.log(error);
        }); 

        console.log(this.result);

    },

    methods: {
        handleSubmit() {
            
            axios.post('/ticket/'+ this.name +'/' + this.operation , {  
                number: this.number
            })
            .then(function (response) {
                router.push('/ticket');            
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                
            });  
        }
    }
    }
</script>
