<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Archive Component</div>

                    <div class="card-body">
                        <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Archived?</th>
                            <th scope="col">Number</th>
                            <th scope="col">Addition 1</th>
                            <th scope="col">Subtraction 2</th>
                            <th scope="col">Multiplication 3</th>
                            <th scope="col">Division 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">{{name}}</th>
                            <td>{{archive}}</td>
                            <td v-for="ticket in result">{{ticket.number}}</td>
                            </tr>
                        </tbody>
                        </table>
                        <button  v-on:click="archiveTicket" class="btn btn-primary">Archive Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    data() {
        return {
            operation:'supervisor',
            result:null,
            name: '',
            search: '',
            archive: '',
            number: ''
        }
    },
 
    methods: {
        getTicket: function () {
   
        axios.get('/ticket/'+ this.$route.query.name)
        .then(response => {
            console.log(response);
            this.result = response.data;
            this.name =response.data[0].name;
            this.archive =response.data[response.data.length -1].archive;
            })
        .catch(function (error) {
            console.log(error);
        }); 

    },
        archiveTicket() {
        
        axios.post('/ticket/'+ this.name +'/' + this.operation , {  
        
        })
        .then(function (response) {
            console.log(response);
        })
        .catch(function (error) {
            console.log(error);
        })
        .then(function () {
            
        });  
        this.getTicket();
    }
    },
    mounted() {
       this.getTicket();
        
    },
    }
</script>
